<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
    <head>
        <title>Market View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="support/jquery/jquery-2.1.0.min.js"></script>
        <link href="support/bootstrap-3.3.5-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="support/NewsTickers/assets/css/bootstrap.css" type="text/css" rel="stylesheet"/>
        <script src="support/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
        <script src="support/NewsTickers/assets/js/bootstrap.js"></script>

        <!--        <link rel="stylesheet" href="support/bootstrap-4.0/css/bootstrap.css">
                <script src="support/bootstrap-4.0/js/bootstrap.js"></script>-->
        <script src="support/NewsTickers/jquery.newsTicker.min.js"></script>
        <link href="support/NewsTickers/assets/css/main.css" rel="stylesheet">

        <link href="support/css/dashboard.css" rel="stylesheet">
        <!--<script src="support/jquery.fullPage.min.js"></script>-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="support/css/font-awesome.min.css">

        <script src="support/echarts.min.js"></script>


        <script src="js/Connect.js"></script>
        <script src="js/init.js"></script>
        <script type='text/javascript'>
            $(document).ready(function () {
//                $('#dowebok').fullpage();
                $('#news-content').newsTicker({
                    row_height: 80,
                    max_rows: 3,
                    duration: 4000,
                    prevButton: $('#nt-example1-prev'),
                    nextButton: $('#nt-example1-next')
                });
                connect("MonteCarlo.php", {
                    type: "USER_SEARCH_INDEX",
                    data: {
                    }
                }, function (obj) {
                    SetIndex(obj);
                });

                connect("MonteCarlo.php", {
                    type: "USER_SEARCH_STOCK",
                    data: {
                        s_id: '0001'
                    }
                }, function (obj) {
//                        alert(JSON.stringify(obj.Kchart.data));
                    ShowStock(obj);
                });




                $("#stock-search-btn").click(function () {

                    connect("MonteCarlo.php", {
                        type: "USER_SEARCH_STOCK",
                        data: {
                            s_id: $("#stock-search").val()
                        }
                    }, function (obj) {
//                        alert(JSON.stringify(obj.Kchart.data));
                        ShowStock(obj);
                    });
                });



            });



        </script>
        <style type="text/css">
            .side {
                padding: 20px;
                padding-right: 0px;
                padding-left: 0px;
            }

        </style>
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"  aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./MarketInfomation.html">Analyse</a>
                </div>
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" id="search"  class="form-control" placeholder="Search">
                    </div>
                    <button id="search-btn" class="form-control btn-success">Search</button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li><a id="Team" href="#" style="">Inspired By ASTRI Team</a></li>
                        <li><a id="Author" href="#" style="margin-right: 5px; font-family: arial,STHeiti,pmingliu,sans-serif!important;font-size: 9px;font-style:italic">-0ostreamo0</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">
            <div class="row">
                <div id="Complexindex">
                    <div class="panel panel-default col-sm-3 col-xs-6">
                        <div class="panel-body">
                            <div class="col-md-6"><strong>SSE: </strong></div>
                            <div class="col-md-6">
                                <div class="col-md-12" id="shanghai" style=""></div>
                                <div class="col-md-12" id="shanghai-rate"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default col-sm-3 col-xs-6">
                        <div class="panel-body">
                            <div class="col-md-6"><strong>HSI: </strong></div>
                            <div class="col-md-6">
                                <div class="col-md-12" id="hangseng"></div>
                                <div class="col-md-12" id="hangseng-rate"></div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default col-sm-3 col-xs-6">
                        <div class="panel-body">
                            <div class="col-md-6"><strong>Dow Jones: </strong></div>
                            <div class="col-md-6">
                                <div class="col-md-12" id="DowJones"></div>
                                <div class="col-md-12" id="DowJones-rate"></div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default col-sm-3 col-xs-6">
                        <div class="panel-body">
                            <div class="col-md-6"><strong>Nasdaq: </strong></div>
                            <div class="col-md-6">
                                <div class="col-md-12" id="Nasdaq"></div>
                                <div class="col-md-12" id="Nasdaq-rate"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--index-->

            <div class="row">
                <div class=" col-md-2 col-xs-12 side">
                    <div class="list-group">

                        <a href="#" class="list-group-item active">
                            Market Information
                        </a>
                        <a href="./MarketView.html" class="list-group-item">Market View</a>
                        <a href="#" class="list-group-item">Strategy</a>
                        <a href="./Trading.html#" class="list-group-item">Trading</a>
                        <a href="#" class="list-group-item">Porfolio Management</a>
                    </div>
                </div>
                <!--sidebar-->
                <div class="col-sm-12 col-md-10 main" style="margin-bottom: 0;">
                    <div class="row" style="padding-top: 20px; background-color: #FFF; box-shadow: 5px 5px 1px #888888;">
                        <div class="col-md-4 col-xs-12">
                            <div class="col-xs-12">
                                <span id="s-name" style="font: bold 20px arial"></span>
                                <span id="s-id" style="font: bold 20px arial"></span>
                            </div>
                            <div class="col-xs-12">
                                <span id="s-price" style="font: bold 30px arial"></span>
                                <span id="s-change" style="font: bold 20px arial; margin-left: 10px"></span>
                                <span id="s-rate" style="font: bold 20px arial"></span>

                            </div>
                            <div id="s-time"  class="col-xs-12" style="font-family: arial,STHeiti,pmingliu,sans-serif!important;font-size: 8px;font-style:italic"></div>
                        </div>
                        <!--stock-Info-->
                        <div class="col-md-8 col-xs-9">
                            <div class="input-group" style="padding-top: 5%">
                                <input type="text" class="form-control" name="search" id="stock-search" placeholder="Enter a 4 digit Stock ID.">
                                <span class="input-group-btn">
                                    <button class="form-control btn-primary" type="button" id="stock-search-btn">Search</button>
                                </span>
                            </div>
                        </div>
                        <!--Search Tool-->

                        <!--                        <div class="col-xs-12">
                                                    <div id="line-char"></div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div id="K-char" style="height:400px; width: auto; margin-top: 40px"></div>
                                                </div>-->
                        <!--line & K-chart-->
                    </div>
                    <!--stock-Toolkit-->
                    <div class="row" style="padding-top: 20px; background-color: #FFF; box-shadow: 5px 5px 1px #888888;">
                        <div class="col-xs-4">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="text-align: center">
                                    <tr class="active">
                                        <td>Bid</td>
                                        <td>Ask</td>
                                    </tr>
                                    <tr class="">
                                        <td id="bid">1</td>
                                        <td id="ask">4</td>
                                    </tr>
                                    <tr class="">
                                        <td id="bid">2</td>
                                        <td id="ask">3</td>
                                    </tr>
                                    <tr class="">
                                        <td id="bid">3</td>
                                        <td id="ask">2</td>
                                    </tr>
                                    <tr class="">
                                        <td id="bid">4</td>
                                        <td id="ask">1</td>
                                    </tr>
                                </table>
                            </div>
                        </div>  
                        <!--bid&ask-->
                        <div class="col-md-8 col-xs-9">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="text-align: center">
                                    <tr class="active">
                                        <td>Openning</td>
                                        <td>Low</td>
                                        <td>High</td>
                                        <td>Closing</td>
                                    </tr>
                                    <tr class="">
                                        <td id="open"></td>
                                        <td id="low"></td>
                                        <td id="high"></td>
                                        <td id="close"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--OLHC-->
                        <div class="col-xs-8">
                            <div class="table-responsive">
                                <table class="table table-bordered" style="text-align: center">
                                    <tr class="active" style="height: 50%">
                                        <td>P/E</td>
                                        <td>Dividend</td>
                                        <td>市值</td>
                                    </tr>
                                    <tr class="" style="height: 50%">
                                        <td id="p/e">1</td>
                                        <td id="divi">2</td>
                                        <td id="MP">3</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!--市值-->
                    </div>
                    <!--tables-->
                </div>
                <!--main-part-->
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-12 main" style="padding-top: 20px;">
                    <div class="row" style="background-color: #FFF; box-shadow: 5px 5px 1px #888888;">
                        <div style="margin-top: 15px; margin-left: 20px">
                            <i class="fa fa-quote-left fa-4x fa-pull-left"></i><span style="font-size: 50px">News</span>
                        </div>
                        

                        <div id="nt-example1-container">

                            <ul id="news-content" style="height: 240px; overflow: hidden; font-size: 20px">
                                <li style="margin-top: 0px;">肖刚下课肖刚下课肖刚下课肖刚下课肖刚下课肖刚下课肖刚下课肖刚下课.. <a href="#">Read more...</a></li>
                                <li style="margin-top: 0px;">肖刚又下课肖刚下课肖刚下课肖刚下课肖刚下课肖刚下课肖刚下课肖刚下课.. <a href="#">Read more...</a></li>

                                <li style="margin-top: 0px;">肖刚 <a href="#">Read more...</a></li>
                                <li style="margin-top: 0px;">Xiao Gang XiaKe.. <a href="#">Read more...</a> </li>
                                <li style="margin-top: 0px;">Xiao Gang XiaKe. <a href="#">Read more...</a></li>
                                <li style="margin-top: 0px;">Xiao Gang XiaKe. <a href="#">Read more...</a></li>
                                <li style="margin-top: 0px;">Xiao Gang XiaKe. <a href="#">Read more...</a></li>
                                <li style="margin-top: 0px;">Xiao Gang XiaKe. <a href="#">Read more...</a></li>
                                <li style="margin-top: 0px;">Xiao Gang XiaKe. <a href="#">Read more...</a></li>
                                <li style="margin-top: 0px;">Xiao Gang XiaKe. <a href="#">Read more...</a> </li>
                                <li style="margin-top: 0px;">肖刚怎么又特么下课了 <a href="#">Read more...</a></li>
                            </ul>
                            <i class="fa fa-arrow-up fa-lg" id="nt-example1-prev"></i>
                            <i class="fa fa-arrow-down" id="nt-example1-next"></i>
                        </div>
                    </div>

                </div>
            </div>

            <!--News-->


            <!--                <div class="col-md-2 col-sm-3 sidebar">
                                <ul id="sidebar" class="nav nav-sidebar">
                                    <li><a href="MarketView.html" class="active">Market View</a></li>
                                    <li><a href="Strategy.html" class="active">Strategy</a></li>
                                    <li><a href="#">Trading</a></li>
                                    <li><a href="#">Profolio management</a></li>
                                </ul>
                            </div>-->
            <!--sidebar2-->
        </div>
    </body>
</html>
